@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  /* Gaya Tambahan untuk Tema Gelap */
}


@media (prefers-color-scheme: dark) {
  html,
  body {
    /* Properti CSS khusus untuk tema gelap */
    background-color: #232A3C;
    color: #fff; /* warna teks putih */
  }
}

@media (prefers-color-scheme: light) {
  html,
  body {
    /* Properti CSS khusus untuk tema gelap */
    background-color: #FFFFFF;
    color: #000; /* warna teks hitam */
  }
}


a {
  @apply text-blue-600 hover:text-blue-800;
}

* {
  box-sizing: border-box;
}

.card {
  @apply mb-5  block   rounded-lg border border-gray-200  shadow-md;
}

.primary-button {
  @apply rounded bg-amber-300 py-2 px-4 shadow outline-none hover:bg-amber-400  active:bg-amber-500;
}
.default-button {
  @apply rounded bg-gray-100 py-2  px-4 text-black shadow outline-none hover:bg-gray-200  active:bg-gray-300;
}

input,
select,
textarea {
  @apply rounded border p-2  outline-none ring-indigo-300  focus:ring;
}

.dropdown-link {
  @apply flex p-2 hover:bg-gray-200;
}

.alert-error {
  @apply my-3 rounded-lg bg-red-100 p-3 text-red-700;
}

.alert-success {
  @apply my-3 rounded-lg bg-green-100 p-3 text-green-700;
}
